# Master Data Analysis with Python - Quizzes 1-10

Challenge your python data analysis skills by taking the quizzes below. The quizzes will be tagged with **#MasterDataAnalysis** on social media to help identify them.

### Become an Expert

If you are looking for a single, comprehensive path to become an expert at the python data science ecosystem, check out the following books I wrote.

* [Master Python with Exercises][1]
* [Master Data Analysis with Python][2]
* [Master Data Visualization with Python][3]
* [Master Machine Learning with Python][4]

### Get started for free

Sample my material by taking my [free Intro to Pandas class][5].

[1]: https://www.dunderdata.com/exercise-python
[2]: https://www.dunderdata.com/master-data-analysis-with-python
[3]: https://www.dunderdata.com/master-data-visualization-with-python
[4]: https://www.dunderdata.com/master-machine-learning-with-python
[5]: https://www.dunderdata.com

## Quiz #1 - February 6, 2020 - difficulty (3/4)

Take a look at the following DataFrame. What is the result of `sum(df)`?

a) 1  
b) 6  
c) 30  
d) 36

In [1]:
import pandas as pd
df = pd.DataFrame({0: [1, 2, 3], 
                   1: [5, 10, 15]})
df

   0   1
0  1   5
1  2  10
2  3  15

In [ ]:
sum(df)

## Quiz #2 - February 11, 2020 - difficulty (2/4)

What is the data type of column `col`?

![](images/quiz2.png)

## Quiz #3 - February 14, 2020 - difficulty (2/4)

Using pandas, find the month 1 million minutes after the unix epoch.

## Quiz #4

Create an 8-bit unsigned integer numpy array using its constructor that contains the values 50 and 100 in it. You are not allowed to use the numbers 50 or 100 in the constructor or any operations that create them.

## Quiz #5

The values you have in a column of your dataframe always range from 1,000 to 65,000. The current data type is ‘int64’. Change the data type to save the maximum amount of memory.

## Quiz #6
How do you get the maximum and index label for each column?

Solution 2

```
df.agg(['max', 'idxmax'])
```

## Quiz #7

Programmatically find all of the public attributes and methods that are in-common with the Series and DataFrame. Then find the ones unique to each.

## Quiz #8

Replace values in one column, based on boolean mask on another column. Df[mask, col] = 5